.ct-party-time .ct-series-a .ct-slice-donut {
  stroke: skyblue;
}

.ct-party-time .ct-series-b .ct-slice-donut {
  stroke: gold;
}

.ct-party-time .ct-series-c .ct-slice-donut {
  stroke: palegreen;
}
